@charset "utf-8";
/* CSS Document */

#encabezado {
    text-align: center;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#nombre {
    margin-top: 10px;
    color: #FFFFFF;
    text-align: center;
}
